.game-image {
  padding: 10px;
  border-radius: 1.2rem;

  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
}

.card-game {
  backface-visibility: hidden;
  background-color: #f77f00 !important;
  margin: 0 auto;
  float: none;
  margin-bottom: 20px;
  width: 80%;
  text-align: center;
  height: 250px;
  border-radius: 0.7rem !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: perspective(100px);
}
.card-game:hover {
  transform: perspective(100px) translateZ(2px);
  box-shadow: 0 14px 28px rgba(252, 191, 73, 0.25),
    0 10px 10px rgba(252, 191, 73, 0.22);
  cursor: pointer;
}
.rating {
}
.price {
  background-color: #003049;
  padding: 0.2rem 0.3rem 0.3rem 0.3rem;
  margin-right: 6px;
  border-radius: 0.5rem;
  color: green;
}
.old-price {
  background-color: #003049;
  color: red;
  padding: 0.2rem 0.3rem 0.3rem 0.3rem;
  margin-left: 6px;
  border-radius: 0.5rem;
  text-decoration: line-through;
}

.skata {
  background-color: red;
}
